[protocol]
	version = 2

[user]
	name = Albert Lloveras
	email = {{ .email }}
[core]
	fsmonitor = true
	untrackedCache = true

[feature]
	manyFiles = true

[rebase]
	autoStash = true

[fetch]
	prune = true
	writeCommitGraph = true

[pull]
	rebase = true

[push]
	default = current

[alias]
    clone-branch = "!f() { git fetch origin $1:$1; git checkout $1; }; f"
    rb = !git fetch && git rebase "origin/${1:-master}"
    co = checkout
